canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* #main_map {
    width: 987px;
    height: 952px;
    object-fit: cover;
    background-image: url("");
} */

.custom-timeline-bar::before {
    width: 5px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

#timeline_1.v-timeline--dense:not(.v-timeline--reverse):before, .v-application--is-rtl .v-timeline--reverse.v-timeline--dense:before{
    background-color: #FFCE00;
}

#timeline_2.v-timeline--dense:not(.v-timeline--reverse):before, .v-application--is-rtl .v-timeline--reverse.v-timeline--dense:before{
    background-color: #0064B0;
}

#timeline_3.v-timeline--dense:not(.v-timeline--reverse):before, .v-application--is-rtl .v-timeline--reverse.v-timeline--dense:before{
    background-color: #9F9825;
}
#timeline_3bis.v-timeline--dense:not(.v-timeline--reverse):before, .v-application--is-rtl .v-timeline--reverse.v-timeline--dense:before{
    background-color: #98D4E2;
}
#timeline_4.v-timeline--dense:not(.v-timeline--reverse):before, .v-application--is-rtl .v-timeline--reverse.v-timeline--dense:before{
    background-color: #C04191;
}
#timeline_5.v-timeline--dense:not(.v-timeline--reverse):before, .v-application--is-rtl .v-timeline--reverse.v-timeline--dense:before{
    background-color: #F28E42;
}
#timeline_6.v-timeline--dense:not(.v-timeline--reverse):before, .v-application--is-rtl .v-timeline--reverse.v-timeline--dense:before{
    background-color: #83C491;
}
#timeline_7.v-timeline--dense:not(.v-timeline--reverse):before, .v-application--is-rtl .v-timeline--reverse.v-timeline--dense:before{
    background-color: #F3A4BA;
}
#timeline_7bis.v-timeline--dense:not(.v-timeline--reverse):before, .v-application--is-rtl .v-timeline--reverse.v-timeline--dense:before{
    background-color: #83C491;
}
#timeline_8.v-timeline--dense:not(.v-timeline--reverse):before, .v-application--is-rtl .v-timeline--reverse.v-timeline--dense:before{
    background-color: #CEADD2;
}
#timeline_9.v-timeline--dense:not(.v-timeline--reverse):before, .v-application--is-rtl .v-timeline--reverse.v-timeline--dense:before{
    background-color: #D5C900;
}
#timeline_10.v-timeline--dense:not(.v-timeline--reverse):before, .v-application--is-rtl .v-timeline--reverse.v-timeline--dense:before{
    background-color: #E3B32A;
}
#timeline_11.v-timeline--dense:not(.v-timeline--reverse):before, .v-application--is-rtl .v-timeline--reverse.v-timeline--dense:before{
    background-color: #8D5E2A;
}
#timeline_12.v-timeline--dense:not(.v-timeline--reverse):before, .v-application--is-rtl .v-timeline--reverse.v-timeline--dense:before{
    background-color: #00814F;
}
#timeline_13.v-timeline--dense:not(.v-timeline--reverse):before, .v-application--is-rtl .v-timeline--reverse.v-timeline--dense:before{
    background-color: #98D4E2;
}
#timeline_14.v-timeline--dense:not(.v-timeline--reverse):before, .v-application--is-rtl .v-timeline--reverse.v-timeline--dense:before{
    background-color: #662483;
}

.v-expansion-panel-content__wrap{
    padding-bottom: 0px;
}